

<%= form_tag '/logins/val', method: :post do %>
<%= label_tag :uid,'ユーザーID'%>
<%= text_field_tag :uid%><br>
<%= label_tag :pass,'パスワード'%>
<%= password_field_tag :pass%><br>
<%= submit_tag '登録'%>
<%end%>

<% if session[:login_flag]!=nil and session[:login_flag]>0 %>
<p>ユーザーidまたはパスワードが違います</p>
<%end%>
